<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestra historia</h2>
                    <h3 class="section-subheading text-muted">Estos son algunos de nuestros principales acontecimientos.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998</h4>
                                    <h4 class="subheading">Creación de Tk Asme</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tk Asme nace en Giron sobre la via Chimita.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/calidad.jpg" alt="Certificacion sistema de calidad ISO">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004</h4>
                                    <h4 class="subheading">Certificación del Sistema de Gestión de Calidad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Logramos la certificación de nuestro sistema integrado de gestión de calidad para la mejora continua de nuestro procesos, productos y servicios.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/industry.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>En 2021</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En 2021 seremos une empresa con reconocimiento a nivel nacional en la fabricación, reparación, mantenimiento, inspección, medición de espesores.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Sea parte
                                    <br>de
                                    <br>nuestra historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
