<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactenos</h2>
                    <h3 class="section-subheading text-muted">Envienos un mensaje y nos pondremos pronto en contacto.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-6">
							<h4><font color="white">Zona Industrial Km 2 Cr 0 # 3-57 Via Chimita</font> </h4>
							<h4><font color="white">Giron, Santander, Colombia</font> </h4>
							<h4><font color="white">Telefonos: 6760072-6760564</font> </h4>
                            </div>
                            <div class="col-md-6">
							<p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=7.092269,-73.167261&amp;num=1&amp;t=k&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;ll=7.092274,-73.16718&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=7.092269,-73.167261&amp;num=1&amp;t=k&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;ll=7.092274,-73.16718&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
