<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Tk Asme Api Ingeniería</h1>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/prefabricacion_tk4.jpg" | prepend: site.baseurl }}" class="img-responsive">
                <h3>Empresa metal mecánica de construcción y reparación de tanques a presión, redes de tuberías de conducción de hidrocarburos, gas y obras complementarias en Colombia</h3>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
