<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro equipo</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Contamos con los recursos necesarios y un equipo humano con experiencia que nos permite dar soluciones eficientes y oportunas a las necesidades de nuestros clientes, empresas del sector industrial a nivel nacional.</p>
                </div>
            </div>
        </div>
    </section>
