<!doctype html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
   <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
   <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>


    <style amp-custom>
    {% include main-min.css %}
    </style>


    {% include color-browser.html %}
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title> {% seo title=false %}
    <meta property="og:type" content="website" />
</head>
<body class="has-navbar-fixed-top">
  
  <nav class="navbar is-fixed-top header">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <amp-img src="/assets/images/logo2.png" alt="Tk asme logo" width="80" height="40"></amp-img>
        </a>
      <a 
        id="buger"
        class="navbar-burger burger" 
        on="tap:navbarMenu.toggleClass(class='is-active'),buger.toggleClass(class='is-active')"
        data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" on="tap:productos.scrollTo(duration=500)">
            Recipientes a presión
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/recipientes-api">
              Recipientes API
            </a>
            <a class="navbar-item" href="/recipientes-atm">
              Recipientes Atmosféricos
            </a>
            <a class="navbar-item" href="/recipientes-glp">
              Recipientes GLP (Gas propano)
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/diques-contenedores">
              Diques contenedores
            </a>
            <a class="navbar-item" href="/rolado-laminas">
              Rolado de laminas
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" on="tap:servicios.scrollTo(duration=500)">
            Mantenimiento
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/mantenimiento">
              Sandblasting y Pintura
            </a>
            <a class="navbar-item" href="/inspeccion">
              Inspección
            </a>
          </div>
        </div>

        <a class="navbar-item" 
           href="/obras-gasoductos"
           >
           Gasoductos
        </a>

        <a class="navbar-item" 
           href="/productos-metalicos"
           >
           Productos metálicos
        </a>


        <a class="navbar-item" 
           {% if page.url == '/' %}
           on="tap:contactenos.scrollTo(duration=500)"
           {% else %}
           href="/#contactenos"
           {% endif %}
           >
           Contactenos
        </a>
      </div>
    </div>
  </nav>

{{ content }}
<footer class="footer">
  <div class="container">
    <p class="has-text-centered">
      {{ site.time | date: '%Y' }} - TK Asme-API Ingeniería
    </p>
  </div>
</footer>
{% if site.google_analytics and jekyll.environment == 'production' %}
<amp-analytics type="googleanalytics" id="analytics1">
<script type="application/json">
{
  "vars": {
    "account": "{{ site.google_analytics }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
{% endif %}
<amp-install-serviceworker src="{{ site.baseurl | prepend: site.url }}/sw.js" layout="nodisplay"></amp-install-serviceworker>
</body>
</html>
